*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    color: #444;
    font-size: 13px;
    line-height: 1.4em;
}
.wraper{
    width: 1920px;
    min-height: auto;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;
}
/* CSS header */
.header{
    height: 60px;
    line-height: 60px;
    background: #23282d;
    color: #ccc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header{
    display: flex;
    justify-content: space-between;
   
}
header .logo{margin-left: 20px;}
header .logo a img{
    width: 200px;
    padding-top: 10px;
    
}
header .admin{
    margin-right: 40px;
}
.admin ul{
    list-style: none;
}
.admin ul li{
    display: inline-block;
    padding: 5px 15px;
}
.admin ul li a{
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}
.admin ul li a:hover{
    color: #fff;
}
.admin ul li a i:hover{
    color: #fff;
}
.admin ul li a i{
    font-size: 25px;
    color: #ccc;
    text-decoration: none;
}
.admin ul li a img{
    width: 55px;
    height: 35px;
    padding-top: 20px;
}

/* CSS Content */
.content{
    min-height: 1000px;
}
aside{
    float: left;
}
article{
    float: left;
    margin: 20px;
}
.admin-img span{
    color:gray;
    font-size: 18px;
    padding-bottom: 10px;
}
.admin-img{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px dashed #818181;
    padding-bottom: 10px;
}
.admin-img img{
    width: 100px;
    height: 100px;
}

.sidenav {
    min-height: 1000px;
    width: 200px;
    z-index: 1;
    top: 60px;
    left: 0;
    background: #23282d;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 16px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background:#0085ba;
    transition: 0.5s;
  }
  .selected{
      color: #0085ba;
  }

.content-right .banner img{
    width: 1680px;
    height: 750px;
}